.lotContainer {
  height: 300px;
}

.registerWrapper {
  display: flex;
  justify-content: space-between;
  padding: 0 8rem;
  align-items: center;
  max-width: 1600px;
  margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
  .registerWrapper {
    flex-direction: column;
  }
}

.formWrapper {
  flex: 0.8;
  width: 100%;
}
.registerForm {
  width: 100%;
}

.errorDiv {
  margin-top: 2rem;
  font-size: small;
  max-width: 100%;
}

.notRegYet {
  color: #07084a;
  font-size: smaller;
}
